/target
/dist
/user_docs
/dev_docs
#/release/dev_docs
#/release/user_docs
/release/dev-docs
/release/user-docs
/release/Keyternity.app/Contents/MacOS/user-docs
/release/Keyternity.app/Contents/MacOS/dev-docs
/release/keyternity_*
/release/Keyternity.app.zip
#skelform_*v0*
autosave.skf
armature.json
textures.png

# dragonbones verification harness build output
/tools/dragonbones_verify/build
